flask_session/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
</content>
<parameter name="filePath">c:\Users\viswa\Desktop\CODEGNAN\FLASK_Codegnan\SNM_PRJ\.gitignore