/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background: linear-gradient(135deg, #eef2ff, #dbeafe);
    min-height:100vh;
    color:#1e293b;
}

/* Navbar */
.navbar{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    /* background:#0f172a; */
    background: linear-gradient(135deg, #0f172a, #1e293b);
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    position:sticky;
    top:0;
    z-index:1000;
}

/* Logo */
.logo{
    color:#fff;
    font-size:24px;
    font-weight:600;
    display:flex;
    align-items:center;
    gap:10px;
}
.logo a{
    color:#fff;
    text-decoration:none;
}

/* Nav Links */
.nav-links{
    list-style:none;
    display:flex;
    align-items:center;
    gap:25px;
}

.nav-links li{
    position:relative;
}

.nav-links a{
    text-decoration:none;
    color:#fff;
    font-size:15px;
    padding:10px 14px;
    border-radius:8px;
    transition:0.3s;
}

.nav-links a:hover{
    background: blue;
}

/* Dropdown */
.dropdown-menu{
    display:none;
    position:absolute;
    top:48px;
    left:0;
    background:#ffffff;
    min-width:220px;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 6px 18px rgba(0,0,0,0.15);
}

.dropdown-menu li{
    width:100%;
}

.dropdown-menu a{
    display:block;
    color:#1e293b;
    padding:12px 18px;
    transition:0.3s;
}

.dropdown-menu a:hover{
    background:#dbeafe;
    color:#2563eb;
}

.dropdown:hover .dropdown-menu{
    display:block;
}

/* Search Box */
.search-box{
    display:flex;
    align-items:center;
    background:#fff;
    border-radius:30px;
    overflow:hidden;
    width:260px;
}

.search-box input{
    border:none;
    outline:none;
    padding:10px 15px;
    width:100%;
    font-size:14px;
}

.search-box button{
    border:none;
    background:black;
    color:#fff;
    padding:10px 16px;
    cursor:pointer;
    transition:0.3s;
}

.search-box button:hover{
    background: grey;
}

/* Logout Button */
.logout-btn{
    background:green;
}

.logout-btn:hover{
    background:red !important;
}

/* Hero Section */
.hero{
    text-align:center;
    padding:100px 20px;
}

.hero h1{
    font-size:48px;
    color:#0f172a;
    margin-bottom:20px;
}

.hero p{
    font-size:18px;
    color:#475569;
}

/* Responsive */
@media(max-width:950px){

    .navbar{
        flex-direction:column;
        gap:20px;
    }

    .nav-links{
        flex-wrap:wrap;
        justify-content:center;
    }

    .search-box{
        width:100%;
        max-width:400px;
    }
}

.viz{
    color:white;
}