{% extends "dashboard.html" %}
{% block addcss %}
<link rel="stylesheet" href="{{url_for('static',filename='addnotes.css')}}" />
{% endblock %}
{% block content %}

<div class="form-container">
    <div class="form-card">
        <h2>Create Post</h2>

        <form method="POST">

            <!-- Title -->
            <div class="form-group">
                <label for="title">Title</label>
                <textarea 
                    id="title" 
                    name="title" 
                    rows="2" 
                    placeholder="Enter title here..."
                    required></textarea>
            </div>

            <!-- Description -->
            <div class="form-group">
                <label for="description">Description</label>
                <textarea 
                    id="description" 
                    name="description" 
                    rows="6" 
                    placeholder="Enter description here..."
                    required></textarea>
            </div>

            <!-- Submit -->
            <button type="submit" class="submit-btn">
                Submit
            </button>

        </form>
    </div>
</div>

{% endblock %}