{% extends "dashboard.html" %}
{% block addcss %}
<link rel="stylesheet" href="{{url_for('static',filename='fileupload.css')}}" />
{% endblock %}
{% block content %}

<div class="form-container">
    <div class="form-card">
        <h2>Upload File</h2>

        <form method="post" enctype="multipart/form-data">

            <!-- Title -->
            <div class="form-group">
                <label for="title">Fileupload</label>
                <input type="file" id="file" name="filedata" placeholder="Choose a file..." required>
            </div>


            <!-- Submit -->
            <button type="submit" class="submit-btn">
                Submit
            </button>


        </form>
    </div>
</div>

{% endblock %}