{% extends "dashboard.html" %}
{% block addcss %}
<link rel="stylesheet" href="{{url_for('static',filename='addnotes.css')}}" />
{% endblock %}
{% block content %}

<div class="form-container">
    <div class="form-card">
        <h2>View Notes</h2>

            <!-- Title -->
            <div class="form-group">
                <label for="title">Title</label>
                <textarea 
                    id="title" 
                    name="title" 
                    rows="2" 
                    readonly>{{ stored_notesdata[1] }}</textarea>
            </div>

            <!-- Description -->
            <div class="form-group">
                <label for="description">Description</label>
                <textarea 
                    id="description" 
                    name="description" 
                    rows="6" 
                    readonly>{{ stored_notesdata[2] }}</textarea>
            </div>
            {{ stored_notesdata[3] }}
    </div>
</div>

{% endblock %}